extends layout
block content
    .cover-container.d-flex.h-100.p-3.mx-auto.flex-column
      header.masthead.mb-auto
        .inner
          h3.bold.bg-blue.about-heading  About Us
      main.inner.cover(role='main')
        h1.cover-heading .
        p.lead
          | Time and date now is the platform to see the current time based on your location, You can check the time and date of different zones from the map.
    script.
       